/* || Global styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: black;
  color: greenyellow;
}

main {
  display: grid;
  background-image: url("https://raw.githubusercontent.com/mdn/learning-area/master/html/multimedia-and-embedding/images-in-html/dinosaur_small.jpg");
  clear: left;
}

img {
  aspect-ratio: 1;
}

figcaption {
  font-size: 6rem;
  text-shadow: 2px 2px 2px black;;
}

/* || Navigation menu */

nav ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  & li {
    float: left;
    line-height: 1.5;
    padding-inline: 1rem;
    background-color: olivedrab;
  };

  & li:not(:last-child) {
    margin-inline-end: auto;
  }

  /* display: flex;
  gap: 1rem; */
}
